.container {
    width: 100vw;
    background: url('./../../assets/login/login_bg.png');
    min-height: 500px;
    height: 100vh;
    position: relative;
    .login-form-content {
        position: absolute;
        top: 30vh;
        right: 15vw;
        background: #fff;
        padding: 39px 15px 10px;
        border-radius: 3px;
        .login-form {
            max-width: 300px;
        }
        .login-form-forgot {
            float: right;
        }
        .login-form-button {
            width: 100%;
        }
    }
}